<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %> 

<body>
    
    <header>
        <%- include('./partials/nav') %> 
    </header>

    <main>

        <div class="content-details">
            <h1 style="font-weight: normal;" ><%= blog.title %></h1>
            <h2><%= blog.description %></h2>
            <p><%= blog.content %></p>
        </div>

        <div class="delete-btn">
            <a id="delete-btn" data-doc="<%= blog._id %>">delete</a>
        </div>

    </main>

    <script>
        const delete_var = document.getElementById('delete-btn');

        delete_var.addEventListener('click', (e) => {
            const url = `/blogs/details/${delete_var.dataset.doc}`;

            fetch(url, {
                method: 'DELETE'
            })
                .then((result) => {
                    result.json();
                })
                .then((data) => {
                    window.location.href = '/blogs';
                })
                .catch((err) => console.log(err));
        });

    </script>

    <br><br><br>
</body>
</html>